@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Yanone+Kaffeesatz&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}
       
body{
    background-color: #2EC4B6 ;
    font-family:Yanone Kaffeesatz, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header{
    background-color:#FF9F1C;
}
nav a:hover{
    background-color:#FFFFFF;
}
.book, .join{
    font-size: 18px;
    background-color:#FF9F1C;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}
.book:hover, .join:hover{
    background-color:#FF9F1C;
}
#background{
    background-color:#aaafb1
}
.msg{
    background-color:#FF9F1C;
    line-height: 1.5em;
    padding: 35px;
    
}
.msg p{
    font-family:Yanone Kaffeesatz, Helvetica, sans-serif ;
    font-size: .8em;
    padding-bottom: 15px;
}
.msg h2{
    font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
}
footer{
    background-color:#FF9F1C;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img{
    padding-top: 15px;
}

.home-title{
    background-color:#FF9F1C;
    margin-top: 10px;
}
.book, .join{
    background-color:#aaafb1;
}
h3{
    background-color:#FF9F1C;
}

.icon {
    width: 80px;
    padding-top: 10px;
}
.home-title{
   font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
   font-size: 2em;
}
#logo_linK{
    padding-top: 5px;
}
.rivers-card{
    font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
    margin: 200px 0;
}
.camping-card{
    font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
    margin: 200px 0;
}
.rapids-card {
    font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}

